[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
torch = "*"
numpy = "*"
jupyterlab = "*"
torchvision = "*"
requests = "*"
matplotlib = "*"
fire = "*"

[requires]
python_version = "3.6"
